<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catering - Meat Fellas</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards/cards.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <!-- Navbar -->
    {% include 'navbar.html' %}





    <div class="text-page">
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-5">
                        <h1 class="pb-3">CATERING w MEAT_FELLAS 🍽️
                        </h1>
                        <p>
                            
                        </p>
                        <p>
                            Chcesz, by Twoje wydarzenie było niezapomniane? Zorganizuj je z Meat_Fellas! Oferujemy profesjonalny catering, który zadowoli każdego mięsożercę. Nasze dania to <strong>prawdziwa uczta dla podniebienia, przygotowana z pasją i najlepszych składników.</strong>
                        </p>
                        <p>
                            🍖 Mięso na pierwszym planie
                            Nasz catering to prawdziwa uczta mięsna — steki z polędwicy wołowej, soczyste żeberka, smash burgery i wiele innych dań, które zadowolą nawet najbardziej wymagających gości. Wszystko przygotowane na najwyższym poziomie, z dbałością o detale.
                        </p>
                        <p>
                            *Dopasujemy menu do Twoich potrzeb* <br>
                        </p>
                        <p>
                        
                            Bez względu na to, czy organizujesz kameralne spotkanie, czy duże wydarzenie — nasze menu jest elastyczne i możemy je dopasować do każdego typu okazji. Szeroka oferta dodatków, autorskie sosy i świeże składniki sprawiają, że każde danie staje się wyjątkowe.
                        </p>
                        <p>
                            🧑‍🍳 Catering na najwyższym poziomie
                            Dzięki naszemu doświadczeniu i pasji do gotowania, zapewniamy kompleksową obsługę cateringową, która pozwoli Ci skupić się na innych aspektach wydarzenia, podczas gdy my zadbamy o smak i jakość serwowanych dań.
                        </p>
                        <p class="pb-sm-5">
                            Z Meat_Fellas każda impreza stanie się wyjątkowa. Skontaktuj się z nami i stwórz niezapomniane menu na Twoje wydarzenie!
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 pb-sm-5">
                        <div class="image-holder">
                            <img src="{{ url_for('static', filename='images/catering.jpg') }}" alt="Catering Meat Fellas Kraków - zdjęcie">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero text-center py-5">
            Smash Burgers & Ribs
        </section>
    </div>




        <!-- Stopka -->
    {% include 'footer.html' %}

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Owl Carousel Initialization -->
</body>
</html>
