<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna - Meat Fellas</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards/cards.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <!-- Navbar -->
    {% include 'navbar.html' %}





    <div class="text-page">
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-5">
                        <h1 class="pb-3">O NAS</h1>
                        <p>
                            Profesjonaliści z pasją do mięsa
                        </p>
                        <p>

                            Meat_Fellas to efekt naszej wieloletniej pasji do najwyższej jakości mięsa i&nbsp;autentycznych smaków. Jesteśmy zespołem profesjonalistów, których połączyła miłość do kulinariów — od soczystych smash burgerów, przez aromatyczne żeberka, aż po idealnie wysmażony stek z polędwicy wołowej.
                        </p>
                        <p>
                            Każde danie, które trafia na Wasz stół, to wynik naszej pracy, doświadczenia i dbałości o detale. Wierzymy, że świetna kuchnia to połączenie doskonałych składników, precyzji przygotowania i przyjaznej atmosfery.
                        </p>
                        <p class="pb-sm-5">
                            Tworzymy miejsce, w którym czuć naszą pasję. Chcemy, aby każda wizyta w Meat_Fellas była pełna niezapomnianych smaków, swobodnych rozmów i&nbsp;szczerych uśmiechów. Dla nas najważniejsze jest Wasze zadowolenie — bo to właśnie Wy jesteście sercem naszej restauracji!
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 pb-sm-5">
                            <div class="image-holder">
                                <img src="{{ url_for('static', filename='images/o-nas.jpg') }}" alt="O nas - zdjęcie">
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero text-center py-5">
            Smash Burgers & Ribs
        </section>
    </div>




        <!-- Stopka -->
    {% include 'footer.html' %}

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Owl Carousel Initialization -->
</body>
</html>
